:root {
    --header-color: #E55A63;
    --header-txt: #FFFFFF;
    --header-search-bg: #FFFFFF4D;
    --body-color: #e0dede;
    --route-color: #FF2D55;
    --route-active: #333333;

    --filter-background: #E2E2E4;
    --filter-text: #333333;

    --radius: 20px;

}