:root {
    --header-color: #E55A63;
    --header-txt: #FFFFFF;
    --header-search-bg: #FFFFFF4D;
    --body-color: #fafafa;
    --route-color: #FF2D55;
    --route-active: #333333;

    --filter-background: #E2E2E4;
    --filter-text: #333333;

    --categories-title: #333333;

    --radius: 20px;
    --radius-sm: 16px;
    --radius-btn: 9px;

    --product-background: #FFFFFF;
    --product-descr: #333333;
    --product-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

    --btn-background: #e55a6324;

    --accordion-border: #E6E6E6;

    --badge-color-in: #15803d;
    --badge-color-low: #a16207;
    --badge-color-out: #b91c1c;

    --badge-bg-in: #dcfce7;
    --badge-bg-low: #fef9c3;
    --badge-bg-out: #fee2e2;

    --table-bg: #f5f5f5;
    --table-border: #EEEEEE;

    --success: #16794b;
    --error: red;
}