.products {
    margin: 50px 38px auto 48px;
    display: grid;
    grid-template-columns: 205px 1fr;
    column-gap: 50px;
}

.products__container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 1100px) {
    .products__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .products__categories {
        display: flex;
        justify-content: center;
    }
    .products {
        grid-template-columns: 1fr;
    }
    .products__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .products__container {
        grid-template-columns: repeat(1, 1fr);
    }
}