.cart-product {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cart-product__image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-product__title {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    opacity: .8;
}

.cart-product__btns {
    margin: 0 auto;
}

@media (max-width: 768px) {

    .cart-product {
        width: 100%;
        align-items: center;
    }

    .cart-product__image {
        width: 72px;
        height: 72px;
    }

    .cart-product__title {
        font-size: 15px;
    }

    .cart-product__btns {
        margin-right: 0;
    }

}